.theme.basic{
  --a: var(--primary);
  --b: #424242;
  --c: #d32f2f;
  --d: #689f38;
  --e: #0288d1;
  --f: #00897b;
  --g: #ffb300;
  --h: #f44336;
  --i: #e91e63;
  --j: #9c27b0;
  --k: #673ab7;
  --l: #3f51b5;
  --m: #2196f3;
  --n: #03a9f4;
  --o: #00bcd4;
  --p: #009688;
  --q: #4caf50;
  --r: #8bc34a;
  --s: #cddc39;
  --t: #ffeb3b;
  --u: #ffc107;
  --v: #ff9800;
  --w: #ff5722;
  --x: #795548;
  --y: #9e9e9e;
  --z: #607d8b;
  .dark-theme &{
    --a: var(--primary);
    --b: #212121;
    --c: #b71c1c;
    --d: #33691e;
    --e: #01579b;
    --f: #004d40;
    --g: #ff8f00;
  }
}



